.payment{
    background-color: white;
}

.payment__container > h1{
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgrey;
}

.payment__container > h1 > a{
    text-decoration: none;
}

.payment__container > h1 > a:hover{
    text-decoration: underline;
}

.payment__section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgrey;
}

.payment__title{
    flex: 0.3 1;
}

.payment__address{
    flex: 0.7 1;
}

.payment__items{
    flex: 0.7 1;
}

.payment__details{
    flex: 0.7 1;
}